# ============================= Kibana Configuration ==============================
# Managed by Ansible

server.port: {{ kibana_server_port }}
server.host: "{{ kibana_server_host }}"

elasticsearch.hosts: {{ kibana_elasticsearch_hosts | to_json }}

{% if elasticsearch_security_enabled | bool %}
# Security Credentials for Elasticsearch connection
elasticsearch.username: "{{ kibana_elasticsearch_username }}"
elasticsearch.password: "{{ kibana_elasticsearch_password }}"
{% endif %}

# Encryption Keys for Saved Objects, Reporting, and Security (Required for Actions & Alerts)
xpack.encryptedSavedObjects.encryptionKey: "{{ kibana_encrypted_saved_objects_encryption_key }}"
xpack.reporting.encryptionKey: "{{ kibana_reporting_encryption_key }}"
xpack.security.encryptionKey: "{{ kibana_security_encryption_key }}"
